description = "Layout para renderizar los slides"
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{ this.page.title }}</title>


    <script src="{{ '/assets/tablet/js/lib/ionic/js/ionic.bundle.js'|theme }}"></script>

     <!-- cordova script (this will be a 404 during development) -->
     <script src="{{ '/assets/tablet/js/cordova.js'|theme }}"></script>

     <!-- your app's js -->
     <script src="{{ '/assets/tablet/js/app.js'|theme }}"></script>
     <script src="{{ '/assets/tablet/js/controllers.js'|theme }}"></script>
     <script src="{{ '/assets/tablet/js/services.js'|theme }}"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="{{ '/assets/tablet/js/taketsystem.js'|theme }}"></script>

 	   <link href="{{ '/assets/tablet/css/ionic.app.css'|theme }}" rel="stylesheet">
     <link href="{{ '/assets/tablet/css/style.css'|theme }}" rel="stylesheet">
     <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


  </head>
  <body ng-app="starter">
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view hide-nav-bar="true" has-header="false">
    <section class="home-container">
	    {% page %}
    </section>
    </ion-nav-view>
  </body>
</html>
