title = "Segmentaciones"
url = "/slides/slide/:code"
layout = "render"
description = "Segmentaciones"
is_hidden = 0
type = "excelencia"

[taketsystemTemplate]
==
{variable type="text" name="title" label="Título"}{/variable}

{variable type="text" name="continueText" default="Continuar" label="Texto botón continuar"}{/variable}

{variable type="text" span="auto" name="numItems" label="Progreso: Pantalla actual"}{/variable}
{variable type="text" span="auto" name="totalITems" label="Progreso: Total pantallas"}{/variable}
{variable type="checkbox" span="auto" name="showProgres" label="Mostrar progreso"}{/variable}


{repeater name="selects" prompt="Añade una nueva segmentacion"}
  {variable type="text" span="auto" name="segmentacion" label="Segmentacion"}{/variable}
  {variable type="text" span="auto" name="option" label="Opción"}{/variable}
{/repeater}

{mediafinder name="bg" label="Fondo"}{/mediafinder}
{variable type="codeeditor" name="css" label="Personalizado"}{/variable}
--
<div id="{{slide_id}}" class="main bg selects slide_{{slide_id}}">
  <div class="row">
    {% if showProgres %}

    <div class="col">
      <div class="num-progress">
        {{numItems}}
      </div>
      <div class="progress">
        <div class="percent" style="width: {{ numItems / totalITems * 100 }}%">
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col">
      <h1 class="title w-100">{{title}}</h1>
    </div>
  </div>
  <div class="row" id="question">
    <div class="col">
        {% for segmentacion, options in selects_ok %}
        <div class="h-10">
            <div>
                <h3>{{segmentacion}} {% if obligatorio[segmentacion] %}*{% endif %}</h3>
                <select  
                    ng-modal="selectValue"
                    {% if obligatorio[segmentacion] %}
                    data-require=1
                    {% endif %}
                    data-answer-type="sondeo"
                    voto data-voto="1" 
                    data-question-title="{{segmentacion}}" 
                    data-question="{{segmentacion}}" 
                    data-question-type="select" 
                    data-value-type="sondeo" >
                <option value="">- Seleccione una opción -</option>
                {% for option in options %}
                <option value="{{option}}">{{option}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
    
    </div>
  </div>

    <div class="alert">
        Los datos que te pedimos a continuación se tratan y muestran siempre de forma agregada. 
        Algunos se utilizan como índices de referencia en tus resultados. Otros, opcionales, contribuyen a investigaciones académicas punteras sobre la conciliación, la diversidad y el liderazgo en las organizaciones. 
        Puedes revisar de nuevo la <a href="https://talentapp360.taket.es/politica-de-privacidad">política de privacidad</a> de TalentApp360 si lo deseas.    </div>

  <div id="continue">
      <button ng-click="prevStep()" type="submit" class="button goback icon-right ion-chevron-right button-clear button-dark">
          Volver
    </button>
    <button  ng-click="respuestas()" type="submit" class="button icon-right ion-chevron-right button-clear button-dark">
      Continuar
    </button>
  </div>

</div>

<style>
    .slide_{{slide_id}} .alert {
    position: absolute;
    width: 100%;
    bottom: 474px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.slide_{{slide_id}} button.button.goback.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: -180px;
}
.slide_{{slide_id}} section {
  position: absolute;
  width: 1200px;
  height: 700px;
}
{{css}}
.slide_{{slide_id}}  {
    background-image: url(//talentapp360.taket.es/storage/app/media/{{bg}});
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.slide_{{slide_id}}  {
    height: 100%;
    width: 100%;
}
.slide_{{slide_id}} .circle {
  height: 150px;
    background-size: 100%;
    background-position: 0;
}
.slide_{{slide_id}} .smile span {
    font-size: 70%;
    background-color: #fff;
    text-align: center;
    list-style: none;
    line-height: 100%;
    height: auto;
    display: block;
    width: 100%;
    word-wrap: initial;
    margin-top: 0;
}
.slide_{{slide_id}}  #question {
    position: absolute;
    top: 64%;
}
.slide_{{slide_id}} .circle.circle-1 {
  background-image: url(//talentapp360.taket.es/storage/app/media/test/btn1.png);
}
.slide_{{slide_id}} .circle.circle-2 {
  background-image: url(//talentapp360.taket.es/storage/app/media/test/btn2.png);
}
.slide_{{slide_id}} .circle.circle-3 {
  background-image: url(//talentapp360.taket.es/storage/app/media/test/btn3.png);
}
.slide_{{slide_id}} .circle.circle-4 {
  background-image: url(//talentapp360.taket.es/storage/app/media/test/btn4.png);
}
.slide_{{slide_id}} .circle.circle-5 {
  background-image: url(//talentapp360.taket.es/storage/app/media/test/btn5.png);
}
.slide_{{slide_id}}  .button.button-dark.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
}

.slide_{{slide_id}}  button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 40px;
    position: absolute;
    margin-left: 165px;
}
.slide_{{slide_id}} .button.icon-right:before {
display: none;
}


.slide_{{slide_id}} div#back {
    position: absolute;
}
.slide_{{slide_id}}  {
    background-position: bottom left;
    background-size: 100%;
}
.slide_{{slide_id}} .row {
    display: block;
    width: 100%;
    position: absolute;
}
.slide_{{slide_id}} .col-25 {
    max-width: 31.3333%;
    display: inline-block;
    margin-top: 27px;
}
.slide_{{slide_id}} .pregunta.horizontal h2 {
    text-align: left;
    display: inline-block;
    width: 45%;
    font-weight: normal;
    font-size: 19px;
}
.slide_{{slide_id}} .col-12 {
  max-width: 11.3333%;
  display: inline-block;
}
.slide_{{slide_id}} h1, .slide_{{slide_id}} .h1 {
    font-size: 110%;
    color: #fff;
}
.slide_{{slide_id}} .transparent {
    vertical-align: middle;
}

.slide_{{slide_id}} .transparent span {
  padding: 15px 30px;
  line-height: 100%;
  font-size: 80%;
  display: block;
  color: #fff;
  font-style: italic;
  background: rgba(255,255,255,.5);
  width: 97%;
}
.slide_{{slide_id}} .percent {
    background: rgba(255, 255, 255, 0.6);
    height: 10px;
}
.slide_{{slide_id}} .progress {
    width: 60%;
    margin-left: 20%;
    border: 2px solid #fff;
    margin-bottom: 25px;
}
.slide_{{slide_id}} .num-progress {
    position: relative;
    left: 21%;
    color: #fff;
    margin-bottom: 11px;
    margin-top: 23px;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 0;
    position: absolute;
    margin-left: 0;
    bottom: 0;
    color: #e3c06a;
    border-color: #e3c06a;
}
body, .ionic-body {
    font-size: 26px;
}
.slide_{{slide_id}} .circle {
    height: 150px;
    background-size: 120%;
    background-position: -10px;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 0;
    position: absolute;
    margin-left: 0;
    bottom: 0;
    color: #e3c06a;
    border-color: #e3c06a;
    left: 50%;
    margin-left: -40px;
}
.slide_{{slide_id}} #question {
    position: absolute;
    top: 37%;
}
.slide_{{slide_id}} .pregunta.horizontal h2 {
    color: #fff;
}
.slide_{{slide_id}} .pregunta.horizontal .smile {
    vertical-align: middle;
    margin-top: -10px;
    margin-left: 2%;
    height: 75px;
    width: 66px;
    background-size: 145%;
    background-position-y: -7px;
}
.slide_{{slide_id}} .smile span {
  display: none;

     background: transparent;
    color: #fff;

     margin-top: -30px;
    vertical-align: bottom;
}
.slide_{{slide_id}} #question > .col > *:first-child span {
    display: block;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 0;
    position: absolute;
    margin-left: 0;
    bottom: 0;
    color: #fff;
    border-color: #fff;
    left: 67%;
    margin-left: -40px;
    bottom: 80px;
}
.slide_{{slide_id}} .circle.noselect {
    background-image: url(//talentapp360.taket.es/storage/app/media/test/btn_active.png);
}
.slide_{{slide_id}} .col-25 {
    max-width: 31.3333%;
    display: inline-block;
    margin-top: 27px;
    text-align: center;
    margin-left: 20px;
}
.slide_{{slide_id}} .smile.noselect {
    background-position-y: -10px;
}
.slide_{{slide_id}}  .h-10 {
    padding-left: 90px;
}
.slide_{{slide_id}}  .h-10 h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: -3px;
}
.slide_{{slide_id}}  .h-10 {
    padding-left: 90px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.slide_{{slide_id}} select {
    padding: 7px;
    margin-top: 10px;
    width: 100%;
}
.slide_{{slide_id}}  h1 {
    text-align: center;
}
.slide_{{slide_id}}  h1.title.w-100 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: #fff;
    left: 0;
    color: #fff;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: -220px;
}
.slide_{{slide_id}} button.button.goback.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: -360px;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    bottom: 40px;
}
.slide_{{slide_id}}  .h-10 {
    padding-left: 107px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.slide_{{slide_id}} a:visited {
    color: #fff;
}
.slide_{{slide_id}} .alert {
    position: absolute;
    width: 100%;
    bottom: 453px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 0 10%;
}
@media only screen and (max-width: 600px) {
    .slide_{{slide_id}} .alert {
    position: relative;
    bottom: -10px;
}
.slide_{{slide_id}} .selects.bg {
      background-image: url(//talentapp360.taket.es/storage/app/media/{{bg}});
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .view-container {
    height: calc(100% + 60px);
}
.slide_{{slide_id}}   button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 40px;
    position: absolute;
    margin-left: 0%;
}
.slide_{{slide_id}}  #start button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-top: 67%;
    margin-left: 48%;
    left: -62px;
}
.slide_{{slide_id}}  h1.title.w-100 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    top: 2%;
    /* left: 520px; */
    color: #000;
}
.slide_{{slide_id}}  h3.title {
    position: relative;
    display: inline;
    font-size: 19px;
    font-weight: normal;
    width: 20%;
    text-align: center;
    left: 10%;
    margin-left: -10%;
    margin-top: 308px;
    color: #000;
}
.slide_{{slide_id}}  .progress {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 12px;
}
.slide_{{slide_id}}  .num-progress {
    position: relative;
    left: 21%;
    color: #fff;
    margin-bottom: 11px;
    margin-top: 2px;
}
.slide_{{slide_id}}  h1.title.w-100 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    top: 0%;
    left: 0;
    color: #fff;
}
.slide_{{slide_id}}  {
    background-image: url(//talentapp360.taket.es/storage/app/media//test/DeepinScreenshot_20181114121128.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide_{{slide_id}}  .row {
    display: block;
    width: 100%;
    position: relative;
}
.slide_{{slide_id}}  #question {
    position: relative;
    top: 0;
}


.slide_{{slide_id}}  .h-10 {
    padding-left: 0;
}
.slide_{{slide_id}}  .pregunta.horizontal h2 {
    text-align: left;
    display: inline-block;
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
.slide_{{slide_id}}  .smile span {
    display: none;
    background: transparent;
    color: #fff;
    margin-top: -10px;
    vertical-align: bottom;
    font-size: 13px;
    display: none !important;
}
.slide_{{slide_id}}  .pregunta.horizontal .smile {
    vertical-align: middle;
    margin-top: -8px;
    width: 16%;
    background-size: 175%;
    background-position-y: -27px;
    background-position-x: -13px;
    margin-bottom: 15px;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    bottom: 10px;
}
.slide_{{slide_id}} .pregunta.horizontal .smile.noselect {
    background-position-y: -26px !important;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: -40px;
}
.slide_{{slide_id}} #question {
    position: relative;
    top: 0;
}
.slide_{{slide_id}} .row {
    display: block;
    width: 100%;
    position: relative;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin: 0;
    margin-left: 5px;
}
.slide_{{slide_id}} div#continue {
    width: 100%;
    margin-left: -40%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
}
.slide_{{slide_id}} button.button.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: 40px !important;
    position: relative;
}
.slide_{{slide_id}} button.button.goback.icon-right.ion-chevron-right.button-clear.button-dark {
    margin-left: -80px !important;
}
.slide_{{slide_id}} .h-10 {
    padding-left: 107px;
    width: 90%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-left: 5%;
    padding-left: 0;

}
.slide_{{slide_id}}  {
    height: 100% !important;
    width: 100%;
    min-height: 100%;
}
.slide_{{slide_id}} .alert {
    position: relative;
    bottom: 0px;
}
.slide_{{slide_id}}  {
    background-image: url(//talentapp360.taket.es/storage/app/media//test/DeepinScreenshot_20181114121128.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: auto;
}
}
</style>