section.questions h1, h1.titulo {
    background-color: #0065bd;
    color: #ffffff;
}
.bar-footer .button:last-child {
    color: #0065bd;
}
.button-icon.icon.ion-man:before, .button-icon.icon.ion-woman:before {
    color: #0065bd;
}
.item-radio .radio-icon {
    color: #0065bd;
}
.item-radio, .item.item-input, .item.item-textarea, textarea {
	border-color: #0065bd;
	
}
.bar.bar-light {    
     
}
.wellcome .bar.bar-light {
    border-bottom: 0px #0065bd solid;
    height: 22%;
}
img.logoBig {
    margin: 0 auto;
    width: auto;
    height: 35%;
    margin-top: 4%;
}
.item-radio .item-content {
    font-weight: bold;
}
h3 {
	font-size: 160%;
	font-weight: bold;
}
.sex label.item.item-radio {
    width: 100%;
}
.bar.bar-header.bar-light {
    background: #0065bd !important;
}
.sex .item-radio .radio-icon {
    visibility: visible;
}
.sex .icon-disabled .item-radio .radio-icon {
    visibility: hidden;
}
.seguir {
	color: #0065bd;
}
.h-100.dotted {
    background: none;
}
.full-image h1 {
    color: #fff;
    text-shadow: 3px 1px #000;
    margin-top: -118px;
}
.bar.bar-footer .title {
	font-size: 16px;
}
 .sex label.item.item-radio {
    width: 100% !important;
}
.item-complex .item-content, .item-radio .item-content {
    padding: 13px 49px 13px 16px;
}
 .sex label.item.item-radio {
    width: 100% !important;
}
.button-icon.icon.ion-woman {
    margin-right: 6%;
}
.item-content {
	text-overflow: initial;
}